<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block metaStuff %}
		<title> East Bay Mushroom Hunting Association</title>
		{% endblock %}
		<link href="club.css" rel="stylesheet">
	</head>
	<body>
		<main>
			{% block main %}{% endblock %}
		</main>
		<footer>
			<p>Copyright&copy; 2021 East Bay Mushroom Hunting Association</p>
		</footer>
	</body>
</html>

