{% extends "clubBase.njk" %}

{% block metaStuff %}
        <title>{{title}}</title>
{% endblock %}
    
{% block main %}
			<header>
				<h1>Activity Added</h1>
			</header>
			<h2>The event has been added.</h2>
{% endblock %}