{% extends "clubBase.njk" %}

{% block metaStuff %}
        <title>{{title}}</title>
{% endblock %}
    
{% block main %}
			<header>
				<h1>East Bay Mushroom Hunting Association</h1>
			</header>
			<img src="images/mushroom.jpg" alt="Morel Mushroom" style="width:50%;">
			<h2>What is Mushroom Hunting?</h2>
			<p>Explaining mushroom &#x1f344 hunting.</p>
			<h2>Why the East Bay?</h2>
			<p>Diverse area &#x1f332, unique climate.</p>
			<h2>Is it safe?</h2>
			<p>Teach you how to identify mushrooms.</p>

{% endblock %}