{% extends "clubBase.njk" %}

{% block metaStuff %}
        <title>{{title}}</title>
{% endblock %}
    
{% block main %}
			<header>
				<h1>Welcome</h1>
			</header>
			<h2>Email:</h2>
			<p>{{userEmail}}</p>
			<h2>Role:</h2>
			<p>{{userRole}}</p>
{% endblock %}




