{% extends "clubBase.njk" %}

{% block metaStuff %}
        <title>{{title}}</title>
{% endblock %}
    
{% block main %}
			<header>
				<h1>Login Failure</h1>
			</header>
			<h2>Email or password is incorrect</h2>
			<p>Please try again or contact the admin.</p>
{% endblock %}