{% extends "clubBase.njk" %}

{% block metaStuff %}
        <title>{{title}}</title>
{% endblock %}
    
{% block main %}
			<header>
				<h1>You are logged out.</h1>
			</header>
			<h2>Good Bye.</h2>
{% endblock %}